*.ss~
*.ss#*
.#*.ss

*.scm~
*.scm#*
.#*.scm
src/*tmp*
*.so
testing/emails.txt
testing/recs.txt
testing/terms.txt
testing/dates.txt
testing/100k.xml
testing/1m.xml
testing/*.idx
a.out
output/
src/phase1-cpp/bin/
report/report.pdf
prj2.tgz
src/phase1-cpp/xmlparserfast
